.note {
    margin: 10px;
    padding: 5px 15px 5px 15px;
    background-color: #ebebeb;
}

.note input {
    width: 200px;
    height: 30px;
    font-size: 20px;
    letter-spacing: 4px;
    text-indent: 10px;
}

.note .rank {
    text-align: right;
}

