.header {
    margin: 10px;
}
.view-header {    
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
}
.view-header > p {
    font-weight: bold;
    font-size: 2em;
    margin: 5px;
}

.view-header .control button {
    background-color: #931a25;
    font-weight: bold;
    color: white;
    width:50px;
    height:30px;
    border-radius:75px;
    text-align:center;
    line-height:0.3em;    
    border: 0;
    outline: 0;
    margin: 16px 5px 0px 5px;
    cursor: pointer;
    
}
.view-header .rank button {
    background-color: #0278ae;
    font-weight: bold;
    color: white;
    width:80px;
    height:30px;
    border-radius:75px;
    text-align:center;
    line-height:0.3em;    
    border: 0;
    outline: 0;
    margin: 16px 5px 0px 5px;
    cursor: pointer;
}

.view-header .timer button {
    background-color: #db6400;
    font-weight: bold;
    color: white;
    width:100px;
    height:30px;
    border-radius:75px;
    text-align:center;
    line-height:0.3em;    
    border: 0;
    outline: 0;
    margin: 18px 5px 0px 5px;
    cursor: pointer;
}

.view-header .onoff {
    margin-right: 15px;
}