.timer {
    margin: -10px;
}

.timer .clock {
    display: flex;
}
.timer .clock button {
    background-color:black;
    font-weight: bold;
    color: white;
    width:70px;
    height:20px;
    border-radius:75px;
    text-align:center;
    line-height:0.5em;
    margin-left: 5px;
    border: 0;
    outline: 0;
    margin: 26px 0px;
    margin-left: 5px;
}

